{% extends "base.html" %}
{% block title %}Reinforcement Learning in Grid world with Mines{% endblock %}

{% block content %}
<form action="#" method="post">
	<p style="margin-left: 50px;">Game Environment Inputs:</p>
	<!-- <p><input type="text" name="nm" /></p> -->
	<p>
	Start Position :<input type="text" name="start" style="margin-left: 50px;"/>
	<br>
	<br>	
	Goal  Position :<input type="text" name="goal" style="margin-left: 50px;"/>
	<br>
	<br>
	Grid Size :<input type="text" name="grid" style="margin-left: 50px;"/>
	<br>
	<br>
	bomb count :<input type="text" name="count" style="margin-left: 50px;"/>
	<br>
	
	</p>
	<p><input type="submit" name="option" value="Q-Learning" style="margin-left: 50px;" /></p>
	
	<p><input type="submit" name="option" value="SARSA"style="margin-left: 50px;" /></p>
	<p><input type="submit" name="option" value="Comparision"style="margin-left: 50px;" /></p>
</form>
{% endblock %}